h1 {
 text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.erro {
  color: red;
}

.valid {
  color: green;
  background-color: greenyellow;
  border: 1px solid green;
  border-radius: 4px;
}

button.erro {
  background-color: antiquewhite;
  border-color: currentColor;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  position: relative;
  top: -10px;
  width: 30px;
}

/* adapted from https://codepen.io/joshbader/pen/lmefu */
.loader {
  animation: load 0.5s steps(8, end) infinite;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow:
  0 -6px 0 rgba(0,0,0,0.8),
  6px 0px 1px rgba(0,0,0,0.6),
  0px 6px 2px rgba(0,0,0,0.4),
  -6px 0px 3px rgba(0,0,0,0.2);
  display: inline-block;
  height: 4px;
  left: -15px;
  position: relative;
  top: -2px;
  transform-origin: 50%;
  width: 4px;
}

@keyframes load {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
